
<form action='/search' method='post'>
          <div class='row'>
              <div class='input-field col s12'>
                <input class='active' type='search' name='usernameSearch' id='usernameSearch'/>
                <label class='active' for='usernameSearch'>Username</label>
              </div>
            </div>
            <div class='row'>
              <div class='input-field col m12'>
                <input class='active' type='search' name='surnameSearch' id='surnameSearch'/>
                <label class='active' for='surnameSearch'>Surname</label>
              </div>
            </div>
            <div class='row'>
                <button type='submit' class='btn-small'>Search</button>
            </div>
</form>
<h2>Nice to see you, {{login}}</h2>

{{#if users.length}}
<form class="col s8" action="/friend" method="post">
  <ul>
    {{#each users}}
      <li class="profile">
        <label>
          {{#if isFriendForMe}}
            <input type="hidden" name="unFriendData" value="{{id}}">
            <input type="checkbox" name="unFriendData" value="x" checked>
          {{else}}
            <input type="checkbox" name="newFriends" value="{{id}}">
          {{/if}}
          <span>{{username}}</span>
          <span>{{surname}}</span>
          <span>{{age}}</span>
          <span>{{gender}}</span>
          <span>{{city}}</span>
          
        </label>
      </li>
    {{/each}}
    <button type="submit" class="btn btn-small">Save changes</button>
  </ul>
  
</form>

{{else}}
<p>No users!</p>
{{/if}}